<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>文档转换器</title>
</head>
<div th:fragment="sidebar">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center p-t-10" style="margin: 0 auto;">
                <div class="pull-left" style="padding-left: 40px;">
                    <span style="font-size: 28px; color: #2f353f; line-height: 50px;">文档转换器</span>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a th:class="${type}=='list'?'waves-effect active':'waves-effect'"
                           th:href="@{/index}">
                            <i aria-hidden="true" class="fa fa-list"></i>
                            <span>任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a th:class="${type}=='watch'?'waves-effect active':'waves-effect'"
                           th:href="@{/watch}">
                            <i aria-hidden="true" class="fa fa-eye"></i>
                            <span>监控列表</span>
                        </a>
                    </li>
                    <li>
                        <a th:class="${type}=='setting'?'waves-effect active':'waves-effect'"
                           th:href="@{/setting}">
                            <i aria-hidden="true" class="fa fa-gear"></i>
                            <span>系统设置</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        // 侧边栏显示与隐藏
        $(".open-left").click(function (e) {
            e.stopPropagation();
            $("#wrapper").toggleClass("enlarged");
            $(".topbar-left").toggle();
        });
    </script>
</div>
</html>
