<!DOCTYPE html>
<html lang="en" th:with="type='list'" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{admin/commons::header}"></header>
<link rel="stylesheet" th:href="@{/static/css/bootstrap-table/bootstrap-table.min.css}"/>
<link rel="stylesheet" th:href="@{/static/css/bootstrap-table/bootstrap-table-page-jump-to.min.css}"/>
<script th:src="@{/static/js/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table/bootstrap-table-page-jump-to.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table/bootstrap-table-toolbar.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table/bootstrap-table-export.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/static/js/bootstrap-table/tableExport.min.js}"></script>
<style>
    .form-group {
        margin-bottom: 10px;
    }
</style>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="~{admin/commons::sidebar}"></div>
    <div class="content-page">
        <div class="content" style="margin-bottom: 0;margin-top: 45px">
            <div class="container">
                <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                                <h4 class="modal-title" id="myModalLabel">取消任务</h4>
                            </div>
                            <div class="modal-body">
                                <p id="cancelMsg"></p>
                                <p>(由于转换速度比较快, 而前端5秒刷新一次, 可能部分任务实际上已完成, 此时取消会出错, 不过不影响程序正常运行)</p>
                            </div>
                            <div class="modal-footer" style="margin-bottom: -20px; padding-top: 10px;">
                                <button class="btn btn-default" data-dismiss="modal" type="button">否</button>
                                <button class="btn btn-primary" id="confirmButton" type="button">是</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" id="info-table"
                       style="table-layout: fixed;
                       word-break:break-all; word-wrap:break-word;">
                </table>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const table = $('#info-table').bootstrapTable({
        method: "get",
        url: /*[[@{/getInfo?cache=false}]]*/+"",        //使用thymeleaf获取url
        cache: false,

        classes: 'table table-bordered table-hover table-striped',
        rowStyle: 'rowStyle',

        virtualScroll: true,
        height: 640,

        sortable: true,
        silentSort: true,
        sortOrder: "asc",
        sortStable: true,
        rememberOrder: true,
        serverSort: false,

        pagination: true,
        sidePagination: "client",
        pageNumber: 1,
        pageSize: 10,
        pageList: [10, 25, 50, 100],

        search: true,
        visibleSearch: true,
        strictSearch: false,
        searchOnEnterKey: true,
        showSearchButton: true,
        showSearchClearButton: true,

        showColumns: true,
        showColumnsToggleAll: true,
        minimumCountColumns: 0,

        showRefresh: true,
        showToggle: true,
        showFullscreen: true,
        smartDisplay: true,
        escape: true,

        showJumpTo: true,
        advancedSearch: true,
        idTable: "advancedTable",
        showExport: true,
        exportDataType: 'all',
        exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel'],
        exportOptions: {
            fileName: function () {
                return '转换信息'
            }
        },

        columns: [{
            field: 'id',
            visible: false,
            switchable: false,
            searchable: false,
        }, {
            title: '源路径',
            field: 'source',
            align: 'center',
            width: 80,
            sortable: true,
            cellStyle: 'overflowTextStyle',
            formatter: 'formatOverflowText',
        }, {
            title: '目的路径',
            field: 'target',
            align: 'center',
            width: 80,
            sortable: true,
            cellStyle: 'overflowTextStyle',
            formatter: 'formatOverflowText',
        }, {
            title: '大小',
            field: 'size',
            align: 'center',
            width: 50,
            sortable: true,
            formatter: 'formatSize',
        }, {
            title: '加入时间',
            field: 'join',
            align: 'center',
            width: 90,
            sortable: true,
            formatter: 'formatTime',
        }, {
            title: '开始时间',
            field: 'start',
            align: 'center',
            width: 90,
            sortable: true,
            formatter: 'formatTime',
        }, {
            title: '结束时间',
            field: 'end',
            align: 'center',
            width: 90,
            sortable: true,
            formatter: 'formatTime',
        }, {
            title: '耗时',
            field: 'cost',
            align: 'center',
            width: 45,
            sortable: true,
            sorter: 'customColumnSortCost',
            formatter: 'formatCost',
        }, {
            title: '状态',
            field: 'status',
            align: 'center',
            width: 45,
            sortable: true,
            sorter: 'customColumnSortStatus',
            formatter: 'formatStatus',
        }, {
            title: '重试',
            field: 'retry',
            align: 'center',
            width: 40,
            sortable: true,
        }, {
            title: '错误',
            field: 'exceptions',
            align: 'center',
            width: 80,
            sortable: true,
            cellStyle: 'overflowTextStyle',
            formatter: 'formatOverflowText',
        }, {
            title: '操作',
            field: 'action',
            align: 'center',
            width: 30,
            searchable: false,
            formatter: 'actionFormatter',
        }]
    });

    let count = 0;
    let timer;

    // 刷新表格
    function refresh() {
        $.ajax({
            type: "get",
            url: /*[[@{/getInfo?cache=true}]]*/+"",    //使用thymeleaf获取url
            dataType: "json",
            success: function (data) {
                count = 0;
                if (data && data[0] !== 'Not Modified') {
                    const scrollPosition = table.bootstrapTable('getScrollPosition');
                    table.bootstrapTable('load', data);
                    table.bootstrapTable('scrollTo', {unit: 'px', value: scrollPosition});
                }
            },
            error: function () {
                // 3次失败停止刷新
                if (++count > 3) {
                    clearInterval(timer);
                }
            },
        });
    }

    // 定时任务, 每5秒执行一次
    (function () {
        timer = setInterval(function () {
            refresh();
        }, 5000);
    })();

    // 行内样式
    function rowStyle(row) {
        // 这里有5个取值代表5中颜色['active', 'success', 'info', 'warning', 'danger'];
        let strclass = "";
        if (row.status === "RUN") {
            strclass = 'info';
        } else if (row.status === "ERROR" || row.status === 'CANCEL') {
            strclass = 'danger';
        } else if (row.status === "FINISH") {
            strclass = 'success';
        } else if (row.status === "RETRY") {
            strclass = 'warning';
        }
        return {classes: strclass}
    }

    // 格式化文件大小
    function formatSize(value) {
        const num = 1024.00;

        if (value < num)
            return value + "B";
        if (value < Math.pow(num, 2))
            return (value / num).toFixed(2) + "KB";
        if (value < Math.pow(num, 3))
            return (value / Math.pow(num, 2)).toFixed(2) + "MB";
        if (value < Math.pow(num, 4))
            return (value / Math.pow(num, 3)).toFixed(2) + "GB";
        return (value / Math.pow(num, 4)).toFixed(2) + "TB";
    }

    // 格式化时间
    function formatTime(value) {
        if (value === 0)
            return '-';
        const date = new Date(value);
        const Y = date.getFullYear();
        let M = date.getMonth() + 1;
        M = M < 10 ? ('0' + M) : M;
        let D = date.getDate();
        D = D < 10 ? ('0' + D) : D;
        let h = date.getHours();
        h = h < 10 ? ('0' + h) : h;
        let m = date.getMinutes();
        m = m < 10 ? ('0' + m) : m;
        let s = date.getSeconds();
        s = s < 10 ? ('0' + s) : s;
        return Y + '-' + M + '-' + D + ' ' + h + ':' + m + ':' + s;
    }

    // 格式化状态
    function formatStatus(value) {
        if (value === 'RUN')
            return '正在运行';
        if (value === 'FINISH')
            return '已完成';
        if (value === 'RETRY')
            return '等待重试';
        if (value === 'ERROR')
            return '任务错误';
        if (value === 'CANCEL')
            return '任务取消';
        if (value === 'WAIT_OUTSIDE')
            return '等待(外)';
        if (value === 'WAIT_IN_POOL')
            return '等待(内)';
        return '-';
    }

    // 格式化耗时
    function formatCost(value, row) {
        const cost = row.end - row.start;
        if (cost <= 0)
            return '-';
        return cost / 1000 + "秒";
    }

    // 长文本样式
    function overflowTextStyle() {
        return {
            css: {
                "overflow": "hidden",               // 溢出隐藏
                "text-overflow": "ellipsis",        // 显示省略符号来代表被修剪的文本
                // "white-space": 'nowrap',            // 不换行
            }
        }
    }

    // 格式化长文本
    function formatOverflowText(value) {
        if (value === '')
            return '-';
        return '<span data-toggle="tooltip" title="' + value + '">' + value + '</span>';
    }

    // 自定义任务耗时排序
    function customColumnSortCost(value1, value2, row1, row2) {
        return (row1.end - row1.start) - (row2.end - row2.start);
    }

    // 自定义任务状态排序
    function customColumnSortStatus(value1, value2) {
        return getStatusPriority(value1) - getStatusPriority(value2);
    }

    // 定义状态优先级
    function getStatusPriority(value) {
        if (value === 'RUN')
            return 6;
        if (value === 'RETRY')
            return 5;
        if (value === 'WAIT_IN_POOL')
            return 4;
        if (value === 'WAIT_OUTSIDE')
            return 3;
        if (value === 'FINISH')
            return 2;
        if (value === 'CANCEL')
            return 1;
        if (value === 'ERROR')
            return 0;
        return -1;
    }

    //操作栏的格式化
    function actionFormatter(value, row) {
        const status = row.status;
        if (status === 'FINISH') {
            const baseUrl =/*[[@{/preview?filename=}]]*/+'';
            const url = window.encodeURI(baseUrl + row.target + '&source=' + row.source);
            return '<a href="' + url + '" target="_blank" data-toggle="tooltip" title="预览">' +
                '<i class="glyphicon glyphicon-eye-open"></i></a>';
        }
        if (status === 'RUN' || status === 'RETRY' || status === 'WAIT_IN_POOL' || status === 'WAIT_OUTSIDE') {
            return '<a href="javascript:void(0)" onclick="confirmCancel(\'' + row.id + '\',\'' + window.encodeURI(row.source) +
                '\')" data-toggle="tooltip" title="取消">' +
                '<i class="glyphicon glyphicon-remove"></i></a>　'
        }
        return '';
    }

    // 取消任务
    function confirmCancel(id, sourcePath) {
        $('#myModal').modal('show');
        $('#cancelMsg').html('是否取消任务[' + window.decodeURI(sourcePath) + ']?(无法恢复)');
        $('#confirmButton').click(function () {
            // 防止多次点击
            $(this).off('click');
            $.ajax({
                type: "post",
                url: /*[[@{/cancelById}]]*/+"",    //使用thymeleaf获取url
                async: false,
                data: {"id": id},
                success: function (result) {
                    if (result && result === 'success') {
                        alert('取消成功');
                        $('#myModal').modal('hide');
                        refresh();
                    } else {
                        alert('取消失败\r\n' + result);
                    }
                },
                error: function () {
                    alert('取消失败');
                }
            });
        });
    }
</script>
</body>
</html>